#about {
  background-color: rgb(232, 232, 232);
  min-height: 100vh;
}

#about p {
  color: rgb(33, 27, 27);
  font-size: 16px;
}

#about strong {
  color: black;
}
#about h2 {
  color: rgb(0, 0, 0);
  text-align: start;
}

#about .skillTittle h2 {
  color: rgb(70, 54, 40);
}

#about p {
  color: grey;
  font-size: 16px;
}

#about table {
  color: grey;
  font-size: 14px;
}

#about th,
td {
  padding: 8px 24px 8px 0px; /* Ajusta según sea necesario */
}

#about .container {
  align-items: start;
}

.aboutPhoto {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 70%;
  padding: 0 30px 30px 30px;
}

.aboutPhotoImg {
  border-radius: 30px;
  max-width: 150px;
  background-color: rgb(50, 69, 85);
  margin: 0 20px 20px 20px;
}

#about span {
  color: black;
  font-weight: 500;
}
.aboutInfo {
  display: flex;
  place-items: start;
  flex-direction: column;
  text-align: start;
  padding: 0px;
}

#about .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(max-content, max-content));
  gap: 16px;
  padding: 0;
  width: 65%;
  align-items: start;
  margin-bottom: 40px;
}
#about .grid-item {
  background-color: rgb(46, 37, 37);
  color: #0d1b2a;
  text-align: center;
  position: relative;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5); /* Azul con transparencia */
  border-radius: 10px;
  height: auto;
  opacity: 0.9;
  width: 100%;
}
#about .grid-item h3 {
  padding: 0 10px 10px 10px;
}
.grid-item ul {
  list-style: none;
}

.grid-item li {
  margin: 2px;
  font-size: 14px;
  font-weight: 400;
}

#about .grid-item {
  color: black;
}
