#contact {
  padding: 0px 0px 60px 0px;
  background-color: #080b10;
}

#contact h2 {
  color: rgb(198, 197, 196);
  text-align: center;
}

#contact h3 {
  color: white;
}

#contact a {
  margin-bottom: 10px;
}

.contactInfo {
  margin-bottom: 25px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  box-sizing: border-box;
}
