#home {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(4, 2, 22);
}

#home .socialIcons a {
  color: rgb(239, 239, 239);
  font-size: 25px;
}

#home .socialIcons {
  display: flex;
  justify-content: start;
  gap: 60px;
}

#home .icon {
  color: rgb(118, 95, 62);
  margin-right: 8px;
}

#home .socialIcons a:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  color: rgb(53, 64, 184);
}

#home .homePhoto {
  place-content: end;
  display: flex;
  height: 100%;
}
#home img {
  width: 200px;
}

.homeInfo {
  place-content: start;
  align-items: start;
  height: auto;
}

.homeInfo ul {
  list-style-type: none;
}

.homeInfo li {
  font-size: 22px;
  color: grey;
}

.homeInfo p {
  font-size: 20px;
}

.homeInfo h1 {
  font-weight: 900;
  color: rgb(193, 124, 34);
  text-align: start;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 5px;
}
